.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  margin: 100px;
}
.heading-container {
  margin-left: 30px;
}

.blue-text {
  color: #4a72eb;
  font-size: 40px;
  font-weight: bold;
}
.power-text {
  line-height: 0;
  font-weight: bold;
  font-size: 40px;
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px;
}
.review-header {
  text-align: center;
  margin-top: 100px;
}
.reviews-button {
  border: none;
  background-color: #4a72eb;
  color: white;
  padding: 7px 30px;
  cursor: pointer;
  border-radius: 20px ;
}
.button-div {
  text-align: center;
  margin-bottom: 50px;
}
.image-container img {
  width: 400px;
  height: 300px;
}
