nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #4a72eb;
}
nav {
  margin-right: 300px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6dddd;
  height: 70px;
}
.header-name{
    font-size: 30px;
    margin-left: 100px;
}
